
html{
  min-height: 100%;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.navbar a {
  
  color: black;
}

.navbar a:hover{
  color: #843997;
  text-decoration: none !important;
}

@media screen and (max-width: 600px) {
  .navbar .form-inline {
    float: none;
  }
  .navbar a, .navbar input[type=search] , .navbar .btn-outline-success  {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=search] {
    border: 1px solid #ccc;  
  }
} 

.btn-outline-success {
  border: 1px solid #843997 !important;
  color: black !important;

}
.btn-outline-success:hover{
  background-color: #843997 !important;
  color: white !important;
}
  
.content {
  text-align: center !important;
}

  .bfwheader {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3.0em;
    color: black;
    text-align: center;
    padding-top: 20px;
    } 
  
    * {box-sizing: border-box}
    
    /* CONTACT US */
    
    #contactus {
      display: flex;
      justify-content: center;
      margin: auto;
      padding-top: 25px;
      padding-bottom: 50px;
      height: 360px;
    }
    
    #ytvideo {
      height: 360px;
      width: 640px;
      position: relative;
      margin: 5px 0px 17px calc((100% - 1200px) * 0.5);
      grid-area: 1 / 1 / 2 / 2;
      justify-self: start;
      align-self: start;
      float: left;
    }

    #joinus {
      position: relative;
      height: 360px;
      width: 600px;
      padding-left: 10px;
      overflow: hidden;
      padding-bottom: 400px;
    }
    
    .promotitle {
      text-align: center;
      height: 32px;
      margin: auto;
      padding-top: 50px;
    }

    .promotext {
      text-align: center;
      width: 500px;
      padding: 10px;
      margin: auto;
      padding-top: 50px;
    }

    #applybutton {
      text-align: center;
      color: white;
      height: 45px;
      width: 100px;
      padding: 10px;
      margin: auto;
      background-color:  #292c2f;
      border: 5px solid;
      border: #292c2f;
    }

    #applybutton {
      cursor: pointer;
    }  

    /* FOOTER BEGINS */

   
.btn-slider{
  font-size: 20px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #843997;
  
}

.btn-slider:hover{
  background-color: #843997;
  color: white;

}

   
     .text-uppercase{
       margin-bottom: 10px;
     }
     
     .newsletter{
       margin-bottom: 10px;
     }

     .btn-primary{
       background-color: white !important;
       color: black !important;
       border: 1px solid #843997 !important;
       text-transform: uppercase;
       letter-spacing: 0.5px;
     }

     .btn-primary:hover{
      background-color: #843997 !important;
      color: white !important;
    }

     .col-md-6 {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
     }

    

     .far{
      transform: translateY(-40%);
      font-size: 40px;
      color: #843997;
       
     }
     
     .list-unstyled {
      padding: 30px; 
      
   }
   .list-unstyled a{
     color: black !important;
   }

   .list-unstyled a:hover{
    color:#843997 !important;
    text-decoration: none;
    
  }

     footer{
       background-color: #f4f4f4;
     }
.footer-copyright{
  font-size: 12px;
} 