body { font-family: sans-serif; }

h1 { font-family: serif; 
    margin-bottom: 0;
    font-size: 50px;
}
article {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.image-wrapper {
    width: 200px;
    float: left;
    padding-right: 25px;
    padding-bottom: 10px;
}
.image-wrapper img {
    width: 100%;
}