* { 
	margin: 0; 
  padding: 0; 
  
} 

body{
  overflow-x: hidden;
}

.navbar a {
  
  color: black;
}

header h1{
  font-family: Lato;
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
  color: #843997 ;
}

.navbar a:hover{
  color: #843997;
  text-decoration: none !important;
}

@media screen and (max-width: 600px) {
  .navbar .form-inline {
    float: none;
  }
  .navbar a, .navbar input[type=search] , .navbar .btn-outline-success  {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=search] {
    border: 1px solid #ccc;  
  }
} 

.btn-outline-success {
  border: 1px solid #843997 !important;
  color: black !important;

}
.btn-outline-success:hover{
  background-color: #843997 !important;
  color: white !important;
}

.carousel img {
  max-height: 500px;
  object-fit: cover;  /* "object-fit" property has various options for fitting an image within a specified space (works because both the img width and height are specified) */
}


.carousel-caption{
  top: 190px;
  color:#f4f4f4 !important;
  Left: 200px !important;
}
.carousel-caption h5{
  font-family: Abhaya Libre;
  font-size: 65px !important;
  
}

.carousel-caption a{
  text-decoration: none;
  color: white;

}


.carousel-caption a:hover{
  text-decoration: none;
  color:black;
}

.btn-slider{
  font-size: 20px;
  border-radius: 50px;
  border: none;
  
}

.btn-slider:hover{
  color:#843997;

}

h2{
  text-align: center;
}

   
    
  /* ABOUT US CONTENT */  

  .companyinfo {
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .text {
    padding-top: 30px;
    margin-left: 55px;
    font-size: 18px;
    text-align: left;
  }
  #companyimage {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
  }

  .title {
    text-align: center;
    font-size: 35px;
  }
#businessfirstwoman{
  transform: translateY(-5%);

}
  


* {box-sizing: border-box}
    
/* LIST OF BUSINESSES */

/* AKILIART */

#business-wrapper{
  position: relative;
  transform: translateY(-0.1%) !important;

}

.titlet{
  padding-bottom: 20px;
  text-align: center;
}



.akilisart {
display: flex;
border: 2px solid gray;
padding-top: 40px;
padding-bottom: 20px;

}

#akiliimage {
width: 575px;
height: 430px;
position: relative;
padding-left: 100px;
}

.aboutakili {
position: relative;
margin-left: 200px;
width: 470px;
}

.akilititle {
text-align: center;
padding-top: 20px;
}

.akilitext {
font-size: 18px;
}

.button1 {
text-align: center;
position: absolute;
color: white;
height: 40px;
width: 130px;
padding: 0px;
margin: 0;
top: 90%;
left: 85%;
margin-right: -50%;
transform: translate(-50%, -50%);
background-color:  #292c2f;
border: 10px solid #292c2f;
cursor: pointer;
}
.business1 a:hover{
  color: white;
}

/* DESIGNED BY KATE */

.designedbykate {
display: flex;
border: 2px solid gray;
padding-top: 45px;
padding-bottom: 45px;
}

.business2 {
position: relative;
width: 580px;
padding-left: 180px
}

.katetitle {
text-align: center;
padding-top: 60px;
}

.katetext {
padding-top: 20px;
font-size: 18px;
}

.button2 {
text-align: center;
position: absolute;
color: white;
height: 40px;
width: 130px;
padding: 0px;
margin: 0;
top: 83%;
left: 85%;
margin-right: -50%;
transform: translate(-50%, -50%);
background-color:  #292c2f;
border: 10px solid #292c2f;
cursor: pointer;
}

.kateimage {
width: 365px;
height: 410px;
margin-left: 240px;
}
.business2 a:hover{
  color: white;
}
/* ZION THE LABEL */

.Zionthelabel {
display: flex;
border: 2px solid gray;
padding-top: 35px;
padding-bottom: 35px;
}

#zionbrand {
position: relative;
margin-left: 200px;
}

.zionimage {
width: 400px;
height: 475px;
}

.business3 {
position: relative;
width: 580px;
padding-left: 250px;
}

.ziontitle {
text-align: center;
padding-top: 60px;
}

.ziontext {
padding-top: 20px;
font-size: 18px;
}

.button3 {
text-align: center;
position: absolute;
color: white;
height: 40px;
width: 130px;
padding: 0px;
margin: 0;
top: 83%;
left: 80%;
margin-right: -50%;
transform: translate(-50%, -50%);
background-color:  #292c2f;
border: 10px solid #292c2f;
}

.button3 {
cursor: pointer;
}

.business3 a:hover{
  color: white;
}

/* BUSINESS 4 */

.Stringtheorylondon {
display: flex;
border: 2px solid gray;
padding-top: 15px;
padding-bottom: 3px;
}

.business4 {
position: relative;
width: 590px;
padding-left: 200px
}

.stltitle {
text-align: center;
padding-top: 30px;
}

.stltext {
padding-top: 15px;
font-size: 18px;
}

.button4 {
text-align: center;
position: absolute;
color: white;
height: 40px;
width: 130px;
padding: 0px;
margin: 0;
top: 92%;
left: 90%;
margin-right: -50%;
transform: translate(-50%, -50%);
background-color:  #292c2f;
border: 10px solid #292c2f;
}

#stringtheory {
position: relative;
margin-left: 210px;
}

.stllogo {
width: 390px;
height: 415px;
}

.business4 a:hover{
  color: white;
}

/* BUSINESS 5 */

.Blaqbase {
  display: flex;
  border: 2px solid gray;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 400px;
}

#blaqbaseapp {
  position: relative;
  margin-left: 150px;
}

.bblogo {
  width: 500px;
  height: 315px;
}

.business5 {
  position: relative;
  width: 600px;
  padding-left: 120px
}

.blaqbasetitle {
  text-align: center;
  padding-top: 30px;
  font-family: 'Contrail One', cursive;
  text-shadow: 3px 3px 4px#8C4BA3;
  font-size:50px;
  color: #6b1d78;
}

.blaqbasetext {
  padding-top: 10px;
  font-size: 16px;
}

.button5 {
  text-align: center;
  position: absolute;
  color: white;
  height: 40px;
  width: 130px;
  padding: 8px;
  margin: 0;
  top: 92%;
  left: 87%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color:  #292c2f;
  border: 10px solid;
  border: #292c2f;
}
.business5 a:hover{
  color: white;
}

/* BUSINESS 6 */

.box42 {
  display: flex;
  border: 2px solid gray;
  padding-top: 50px;
  padding-bottom: 50px;
}

.business6 {
  position: relative;
  width: 600px;
  padding-left: 120px
}

.box42title {
  text-align: center;
  padding-top: 30px;
  font-family: 'Contrail One', cursive;
  text-shadow: 3px 3px 4px#8C4BA3;
  font-size:50px;
  color: #6b1d78;
}

.box42text {
  padding-top: 20px;
  font-size: 16px;
}

.button6 {
  text-align: center;
  position: absolute;
  color: white;
  height: 40px;
  width: 130px;
  padding: 8px;
  margin: 0;
  top: 85%;
  left: 85%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color:  #292c2f;
  border: 10px solid;
  border: #292c2f;
}

.business6 a:hover{
  color: white;
}

#thebox42 {
  position: relative;
  margin-left: 130px;
}

.box42image {
  width: 550px;
  height: 400px;
}

/* BUSINESS 7 */

#pandakickz {
  position: relative;
  margin-left: 200px;
}

.pandaimage {
  width: 290px;
  height: 400px;
}

.pandaonthekickz {
  display: flex;
  border: 2px solid gray;
  padding-top: 50px;
  padding-bottom: 50px;
}

.business7 {
  position: relative;
  width: 600px;
  padding-left: 170px;
  padding-bottom: 2%;
}

.pandatitle {
  text-align: center;
  padding-top: 50px;
  font-family: 'Contrail One', cursive;
  text-shadow: 3px 3px 4px#8C4BA3;
  font-size:50px;
  color: #6b1d78;
}

.pandatext {
  padding-top: 15px;
  font-size: 16px;
}

.button7 {
  text-align: center;
  position: absolute;
  color: white;
  height: 40px;
  width: 130px;
  padding: 10px;
  margin: 0;
  top: 350px;
  left: 85%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color:  #292c2f;
  border: 10px solid;
  border: #292c2f;
}

.business7 a:hover{
  color: white;
}

/* CONTACT US*/

#contactus {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 35px;
  padding-bottom: 50px;
  height: 360px;

}

#ytvideo {
  height: 300px;
  width: 640px;
  position: relative;
  margin: 5px 0px 17px calc((100% - 1200px) * 0.5);
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
  float: left;
  padding-top: 20px;
}

#joinus {
  position: relative;
  height: 360px;
  width: 510px;
  margin-left: 640px;
  overflow: hidden;
  padding-bottom: 400px;
}

.promotitle {
  text-align: center;
  height: 32px;
  margin: auto;
  padding-top: 50px;
}

.promotext {
  text-align: center;
  width: 500px;
  padding: 10px;
  margin: auto;
  padding-top: 50px;
}

#applybutton {
  text-align: center;
  height: 40px;
  width: 120px;
  margin: auto;
  padding: 0px;
 
  background-color:  #292c2f;
  border: 5px solid #292c2f;
}

#applybutton a{
  cursor: pointer;
  font-size: 17px;
  color: white;
}



 /*FOOTER*/

 .footer-bs {
  background-color: #f4f4f4 !important;
padding: 60px 40px;
color: black ;
margin-bottom: 20px;
border-bottom-right-radius: 6px;
border-top-left-radius: 0px;
border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:black; }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:black;}
.footer-bs .footer-nav ul.pages a:hover { color:#843997; text-decoration:none; }
.footer-bs .footer-nav h4 {
font-size: 15px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}


.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
font-size: 15px;
text-transform: uppercase;
letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:black;}
.footer-bs .footer-social a:hover { color:black; text-decoration:none; }

.footer-bs .footer-ns h4 {
font-size: 15px;
text-transform: uppercase;
letter-spacing: 3px;
margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:black; }

@media (min-width: 768px) {
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px #843997; }
}

.btn-default{
  font-size: 40px !important;
  transform: translateY(-29%) !important;
  padding-left: 0 !important;
  
}
.form-control{
  border: 1px solid #843997 !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  
}

.btn-default a{
  color: #843997 !important;
}

